.form {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.projectName {
  width: 100%;
  display: flex;
  justify-content: center;
}

.greetingMessage {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
